.bungkus{
    display: flex;
    justify-content: space-between;
}
.kotak{
    height: 100px;
    width: 100px;
    background-image:linear-gradient(rgba(161, 150, 150, 0.185),rgb(196, 85, 85));
    display: flex;
    justify-content: center;
    align-items: center;
}
.kotak:hover{
    border-radius: 50px;
    background-image:radial-gradient(rgb(101, 101, 192),rgb(170, 73, 73));
}

p{
    color: white;
}