*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 17px;
}
body{
    background: #F2F2F2;
}
header{
    width: 100;
    background:#D8D8D8;

}
ul{
    display: flex;
    padding: 25px;

}
li{
    list-style: none;
    margin: 0 45px;
    color: ;
}