*{
    margin: 0;
    padding: 0;
}
footer{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 35%;
    top: 909px;
}
.icon{
    position: relative;
    margin-left: 10px;
    top: 10px;
    justify-content: space-around;
}
.icon img{
    background-color: gray;
    border-radius: 15px;
}
.icon img:hover{
    background-color:white;
    border-radius: 15px;
}
.text{
    color: white;
    text-decoration: none;
    position: relative;
    margin-left: 45%;
    bottom: 25px;
}
.map{
    position: absolute;
    right: 20px;
    top: 20px;
}